body {
  margin: 0;
  padding: 0;
  background-color: linear-gradient(
    180deg,
    rgba(233, 66, 255, 1) 0%,
    rgba(136, 56, 255, 1) 100%
  );
}

/* .mainBackgroundLeft {
  background-color: linear-gradient(
    180deg,
    rgba(233, 66, 255, 1) 0%,
    rgba(136, 56, 255, 1) 100%
  );
  width: 200px;
} */

@media screen and (min-width: 900px) {
  .mainContainer {
    display: flex;
  }
  .secondContainer {
    max-width: 500px;
    margin: auto;
    margin-left: 30px;
  }
  .firstContainer {
    left: 50px;
    top: 70px;
  }
}

@media screen and (max-width: 900px) {
  .secondContainer {
    margin: auto;
    position: relative;
    padding: 20px;
    text-align: center;
  }
}

/* first container */

.firstContainer {
  background-color: hsl(270, 20%, 96%);
  max-width: 300px;
  border: 10px solid hsl(0, 0%, 100%);
  border-radius: 30px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
.leftArrow {
  transform: rotate(135deg);
  border: solid hsl(0, 0%, 100%);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    203deg,
    rgba(233, 66, 255, 1) 8%,
    rgba(103, 0, 255, 1) 100%
  );
  padding-top: 25px;
  border-radius: 20px 20px 0 0;
  align-items: center;
  margin-bottom: 10px;
}
.whiteCenter {
  border-bottom: solid hsl(0, 0%, 100%);
  border-width: 25px;
  display: block;
  width: 50%;
  border-radius: 0 0 80px 80px;
  position: absolute;
  left: 25%;
}

.nameDiv {
  margin-right: 90px;
}
.avatarName {
  margin: 0;
  color: hsl(0, 0%, 100%);
}
.avatarAvailable {
  margin: 0;
  font-size: small;
  color: hsl(276, 100%, 81%);
}

.dot {
  height: 3px;
  width: 3px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: flex;
  margin: 2px;
}
.dotsDiv {
  margin-right: 15px;
  margin-top: 10px;
}

.mainTable tr {
  display: flex;
  flex-direction: column;
}
.avatarImage {
  width: 40px;
  height: 100%;
  margin: 5px;
  border-radius: 100%;
  border: 2px solid hsl(0, 0%, 100%);
}

.leftSideChat {
  background-color: hsl(276, 100%, 88%);
  max-width: 60%;
  margin: 5px;
  padding: 5px;
  border-radius: 20px 20px 20px 5px;
  font-size: 13px;
  text-align: left;
  color: hsl(276, 55%, 52%);
}
.rightSideChat {
  background-color: hsl(0, 0%, 100%);
  color: hsl(271, 15%, 43%);
  max-width: 60%;
  margin: 5px;
  padding: 5px;
  border-radius: 20px 20px 5px 20px;
  font-size: 13px;
  text-align: left;
  align-self: flex-end;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}

.dogsImages img {
  width: 50px;
  border-radius: 10px;
}
.dogsImages {
  align-self: flex-end;
  margin-right: 5px;
  padding: 5px;
}
.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  border: 2px solid hsl(289, 100%, 72%);
}

.priceList {
  display: flex;
  max-width: 70%;
  height: 40px;

  background: linear-gradient(
    87deg,
    rgba(233, 66, 255, 1) 8%,
    rgba(103, 0, 255, 1) 100%
  );
  color: hsl(0, 0%, 100%);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  margin: 5px;
  padding: 5px;
}
.inputForm {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  height: 30px;
  max-width: 80%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  margin: auto;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.rightArrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  align-self: center;
  margin-left: 30%;
}
.inputText {
  border: none;
  background: none;
}
.arrowBackground {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  background-color: hsl(271, 36%, 24%);
  margin-right: -10px;
}

/* second container */

.secondContainer {
  font-size: 20px;
}
.secondContainer h1 {
  color: hsl(271, 36%, 24%);
}
.secondContainer p {
  color: hsl(270, 7%, 64%);
}
